<div class="row">
							<div class="col-md-12">
								<h1 class="text-center title">Seja Bem vindo ao CRM Sennit</h1>
								<div class="separator"></div>
								<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								<div class="row">
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
											<i class="fa fa-leaf"></i>
											<h2>Clean Design and Code</h2>
											<p>Voluptatem ad provident non <a href="#">repudiandae</a> veritatis beatae cupiditate amet reiciendis.</p>
											<a href="page-services.html" class="btn-default btn">Read More</a>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
											<i class="fa fa-laptop"></i>
											<h2>Very Flexible</h2>
											<p>Iure sequi unde hic. Sapiente quaerat labore sequi inventore veritatis cumque.</p>
											<a href="page-services.html" class="btn-default btn">Read More</a>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
											<i class="fa fa-sitemap"></i>
											<h2>Latest Technologies</h2>
											<p>Inventore dolores aut laboriosam cum consequuntur delectus sequi! Eum est.</p>
											<a href="page-services.html" class="btn-default btn">Read More</a>
										</div>
									</div>
								</div>
							</div>
						</div>